/* import poppines font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
::after,
::before{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
}
/* ########## text ################## */
.main-heading{
    color:#3f6790 ;
    font-weight: 600;
    
}
.sub-heading{
    color:#3F6190;
    font-weight: 600;
}
.brand-text{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2.4rem;
}
.footer-text{
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 0.3rem;

}
.pro_titel{
    color: #000000;
    font-weight: 600;
}
.price{
    font-size: 1rem;
    font-weight: 600;
    color: #27AE60;
}
.showcase_text{
    position: absolute;
    margin: 0 0 2rem 2rem;
    transform: translateY(-150%);

}

.footerbg{
    background: url("../images/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    
}

.label{
    position: absolute;
    color: #ffff;
    transform: translateY(-150%);
    margin-left: 1.5rem;
}
li{
    font-weight: 600;
    margin-bottom: 0.2rem;
    list-style: none;
}

.footer-box{
    padding: 12rem 0rem 5rem 0rem;
    color: #ffff;
}
.myborder{
    border: solid #C4C4C4 1.5px;
}
.star-rating{
    color: #FAC404;
}
.womanbg{
    background: url("../images/Ellipse\ 95.png");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;   
}
/* ############searchbox############ */
.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
    
    
  }
  .sb-example-1 .searchTerm {
    width: 100%;
    color:#FFFFFF;
    background: #585656;
    outline: none;
    border: none;
    
  }
  .sb-example-1 .searchTerm:focus{
    color: #FFFFFF;
  }
  .sb-example-1 .searchButton {
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    background: #585656;
    outline: none;
    border: none;
  }
/* ###### media ######### */
@media (max-width: 700px){
    html{
        font-size: 50%;
    }
}